:root{
    --transitionTime: 0.5s;
}
#section-aPropos{
    background: var(--col-White);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-aPropos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    width: 90%;
    height: 70%;
}
.module{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--col-black);
    box-shadow: 0.4em 0.4em 0.6em var(--col-black);
    overflow: hidden;
    cursor: pointer;
    transition: "color 0.4s";
}
/* ----------- Classe déplacement des modules ----------------------*/
.moduleFerme{
    height: 100%;
    width: 10%;
    transition: all var(--transitionTime);
}
.moduleFermeExtend{
    height: 100%;
    width: 8%;
    transition: all var(--transitionTime);

}
.moduleOuvert{
    height: 100%;
    width: 70%;
    transition: all var(--transitionTime);

}
.moduleOuvertExtend{
    height: 100%;
    width: 72%;
    transition: all var(--transitionTime);

}
.module ion-icon{
    position: absolute;
    font-size: 3em;
    color: rgb(122, 122, 122);
}
.moduleIconFerme{
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    transition: all var(--transitionTime);
}
.moduleIconOuvertExtend{
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
    transition: all var(--transitionTime);
}
.moduleIconOuvert{
    bottom: 20px;
    left: 20px;
    transform: translate(0,0);
    transition: all var(--transitionTime);
}

.module-container-text{
    width: 100%;
    height: 90%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}
/* ----------- Classe opacity des modules ----------------------*/
.module-container-text-opacity1{
    opacity: 1;
    transition: opacity var(--transitionTime);
}
.module-container-text-opacity0{
    opacity: 0;
    transition: opacity var(--transitionTime);
}
.module-container-text p{
    font-family: var(--font2);
    font-size: 1.3em;
    color: var(--col-White)
}
.module-container-text h4{
    font-family: var(--font1);
    color: var(--col-secondaire-2);
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 2%;
    width: 100%;
}
.module-container-text h4 span{
    color: var(--col-secondaire-1);
    margin-left: 2%;
    font-weight: 500;
}
.module-container-text p span{
    font-weight: 300;
    font-size: 1.2em;
}
.module-container-text p span:nth-child(1){
    color:var(--col-secondaire-1);
}
.module-container-text p span:nth-child(2){
    color:var(--col-secondaire-2);
}
.competence > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 0;
    width: 100%;
}
.niveau-competence{
    position: relative;
    width :50%;
    height: 75%;
    margin-right: 5%;
    border-radius: 10px;
    background-color: var(--col-secondaire-1);
    overflow: hidden;
}
.niveau-competence::before{
    position: absolute;
    content: '';
    height: 100%;
    border-radius: 8px;
    top:0;
    left:0;
    bottom:0;
    background-color: var(--col-secondaire-2);
}
.competence .niveau1::before{
    width: 15%;
}
.competence .niveau2::before{
    width: 90%;
}
.competence .niveau3::before{
    width: 70%;
}
.competence .niveau4::before{
    width: 10%;
}
.competence .niveau5::before{
    width: 30%;
}

@media (max-width: 800px){
    .container-aPropos{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 5%;
        width: 95%;
        height: 85%;
    }
    .module{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--col-black);
        height: 10%;
        width: 100%;
        box-shadow: 0.4em 0.4em 0.6em var(--col-black);
        overflow: hidden;
        cursor: pointer;
        transition: "color 0.4s";
    }
    .moduleFerme{
        width: 100%;
        height: 10%;
    }
    .moduleFermeExtend{
        width: 100%;
        height: 8%;
    }
    .moduleOuvert{
        width: 100%;
        height: 70%;
    }
    .moduleOuvertExtend{
        width: 100%;
        height: 72%;
    }
    .moduleIconFerme{
        bottom: 50%;
        left: 50%;
        transform: translate(-50%,50%);
    }
    .moduleIconOuvertExtend{
        bottom: 20px;
        left: 20px;
        transform: translate(0,0);
    }
    .moduleIconOuvert{
        bottom: 20px;
        left: 20px;
        transform: translate(0,0);
    }
}


