#section-contact{
    background: var(--col-White);
    display: flex;
    padding-top: 15vh;
    flex-direction: column;
    align-items: center;
}

.container-cv{
    align-self: flex-start;
    margin-left: 5%;
    font-family: var(--font1);
}
.container-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    width: 100%;

}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 90%;
    margin-top: 2%;
    background-color: var(--col-black);
    box-shadow: 0.4em 0.4em 0.2em var(--col-black);

}
form hr{
    color: var(--col-secondaire-1);
    width: 20%;
    align-self: center;
}
label{
    font-family: var(--font2);
    color: var(--col-White);
    font-size: 1.3em;
    display: flex;
    align-items: center;
    gap: 0.5em;

}
input[type="submit"]{
    align-self: center;
    border: solid 2px black;
    font-family: var(--font2);
    font-size: 1.3em;
    background: var(--col-White);
    color: var(--col-black);
    padding: 0.25em 0.5em;
    cursor: pointer;
    transition: all 0.5s;
}
input[type="submit"]:hover{
    color: var(--col-secondaire-1);
    border: solid 2px var(--col-secondaire-1);
    transition: all 0.5s;
}
label, input[type="text"], input[type="email"], textarea{
    margin-left: 10%;
}
input[type="text"], input[type="email"]{
    width: 30%;
    height: 8%;
    margin-bottom: 1%;
    padding-left: 1em;
    /* box-shadow: inline 2em 2em 0.2em var(--col-black); */
}
form ion-icon{
    color:var(--col-secondaire-1);
}
textarea{
    margin-top: 1%;
    margin-bottom: 1%;
    resize: none;
    width: 75%;
    height: 35%;
    padding: 1em;
    font-family: var(--font2);
    font-size: 1em;
}

.container-icon ion-icon{
    margin-left: 0.5em;
    font-size: 2em;
    color: var(--col-black); 
    transition: all 0.4s;
    cursor: pointer;
}
.container-icon ion-icon:hover{
    transform: scale(1.2);
    transition: all 0.4s;
}
.container-icon{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font1);
    gap: 1em;
    width: 100%;
}
.container-icon > div:nth-child(1){
    display: flex;
    align-items: center;
}
.container-icon > div:nth-child(2){
    width: 40%;
}

@media (max-width: 800px){
    input[type="text"], input[type="email"]{
        width: 75%;
        /* box-shadow: inline 2em 2em 0.2em var(--col-black); */
    }
    textarea{
        margin-top: 25px;
    }
    .container-icon{
        flex-direction: column;
    }
}
